{% extends 'base.html.twig' %}
{% block body %}

{#    <link rel="stylesheet" href="../stylesheet.css">#}

    <div id="print" class="historyflex">
        {% for product in products %}
            <div>
                <div class="historycard">
                    <h3>{{ product.productkey.prodname }}</h3>
                    <br>
                    <img class="historyimg" src="{{ product.productkey.img }}" alt="product photo">
                    <br>
                    <p>{{ product.productkey.price }} €</p>
                    <br>
                    <p>Amount: {{ product.amount }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <button class=" btn btn-primary" onclick="window.print()">Print your order</button>
    <br>

{% endblock %}